# Data Frames Multi-Level and Index Hierarchy

In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [13]:
df

             A         B
G1 1 -0.480005 -1.148969
   2  0.754868  1.209629
   3 -1.426375 -0.212683
G2 1 -0.147243  0.058328
   2  2.083890  0.724413
   3 -0.491823  0.775726

In [14]:
df.loc['G1'] # Getting the G1 section of the DF

          A         B
1 -0.480005 -1.148969
2  0.754868  1.209629
3 -1.426375 -0.212683

In [18]:
df.loc['G1'].loc[1]

A   -0.480005
B   -1.148969
Name: 1, dtype: float64

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df.index.names = ['Groups', 'Nums']

In [21]:
df

                    A         B
Groups Nums
G1     1    -0.480005 -1.148969
       2     0.754868  1.209629
       3    -1.426375 -0.212683
G2     1    -0.147243  0.058328
       2     2.083890  0.724413
       3    -0.491823  0.775726

In [23]:
df.loc['G2'].loc[2]['B']

0.7244129863975487

In [24]:
df.xs('G1')

             A         B
Nums
1    -0.480005 -1.148969
2     0.754868  1.209629
3    -1.426375 -0.212683

In [26]:
df.xs(1,level='Nums')

               A         B
Groups
G1     -0.480005 -1.148969
G2     -0.147243  0.058328