# Data Input and Output
- CSV
- Excel
- HTML
- SQL

In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\naber\\Google Drive\\Files from Laptop\\University\\Python Data Science Udemy Course\\Pandas'

In [3]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
# In order to write to a csv file, WE NEED A DATA FRAME
df = pd.read_csv('example.csv')

In [6]:
df.to_csv('My_output')

In [7]:
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [8]:
df.to_csv('My_output', index=False)

In [10]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [16]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [17]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

## HTML

In [19]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ValueError: No tables found

In [20]:
from sqlalchemy import create_engine

In [21]:
engine = create_engine('sqlite:///:memory:')

In [22]:
df.to_sql('my_table', engine)

In [23]:
sqldf = pd.read_sql('my_table', con=engine)

In [24]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15